{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/github-information.js' %}"></script>
    <title>{% block title %}Mythos Greek Dining{% endblock %}</title>
</head>
<body>

    <header>
            <div class="container-fluid">
                <div id="navbar" class="row justify-content-between navbar">
                    <!-- Background Navbar -->
                    <div class="bg-navbar"></div>
                    <!-- Logo and Restaurant Name -->
                    <div class="col-md-2 d-flex align-items-center">
                        <div class="navbar-content">
                            <a href="{% url 'home' %}">
                                <span class="restaurant-name" id="restaurant-name">Mythos Greek Dining</span>
                                <img id="logo-image" src="{% static 'images/logo.png' %}" class="logo" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <!-- Navbar links -->
                    <nav class="col-10 fixed-top">
                        <ul id="nav" class="nav justify-content-end">
                            <li class="nav-item list-inline-item menuitem">
                                <a href="{% url 'home' %}" class="hvr-fade"><span>Home</span></a>
                            </li>
                            <li class="nav-item list-inline-item menuitem">
                                <a href="{% url 'menu' %}" class="hvr-fade"><span>Menu</span></a>
                            </li>
                            <li class="nav-item list-inline-item menuitem">
                                <a href="{% url 'booking_create' %}" class="hvr-fade"><span>Booking</span></a>
                            </li>
                            <li class="nav-item list-inline-item menuitem">
                                <a href="{% url 'contact' %}" class="hvr-fade"><span>Contact</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
    </header>
    

    <main>
        {% block hero %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </main>

    <!-- Add JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
