{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/github-information.js' %}"></script>
    <title>{% block title %}Mythos Greek Dining{% endblock %}</title>
</head>
<body>

    <header>
            <div class="container-fluid">
                <div id="navbar" class="row justify-content-between navbar">
                    <!-- Background Navbar -->
                    <div class="bg-navbar"></div>
                    <!-- Logo and Restaurant Name -->
                    <div class="col-md-2 d-flex align-items-center">
                        <div class="navbar-content">
                            <a href="{% url 'home' %}">
                                <span class="restaurant-name" id="restaurant-name">Mythos Greek Dining</span>
                                <img id="logo-image" src="{% static 'images/logo.png' %}" class="logo" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <!-- Navbar links -->
                    <nav class="col-10 fixed-top">
                        <ul id="nav" class="nav justify-content-end">
                            <li class="nav-item list-inline-item menuitem">
                                <a href="{% url 'home' %}" class="hvr-fade"><span>Home</span></a>
                            </li>
                            <li class="nav-item list-inline-item menuitem">
                                <a href="{% url 'menu' %}" class="hvr-fade"><span>Menu</span></a>
                            </li>
                            <li class="nav-item list-inline-item menuitem">
                                <a href="{% url 'booking_create' %}" class="hvr-fade"><span>Booking</span></a>
                            </li>
                            <li class="nav-item list-inline-item menuitem">
                                <a href="{% url 'contact' %}" class="hvr-fade"><span>Contact</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
    </header>
    

    <main>
        {% block hero %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="main-footer site-footer">
        <section class="footer-content">
            <div class="container">
                <div class="row">
                    <!-- Company Information -->
                    <div class="col-md-6">
                        <div class="footer-column">
                            <div class="footer-title">
                                <h3>Mythos Greek Dining</h3>
                            </div>
                            <div class="footer-content">
                                <p>
                                    123 Greek Street<br>
                                    Athens 45678<br>
                                    <a href="mailto:info@mythosgreekdining.com">info@mythosgreekdining.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Quick Links -->
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="footer-column">
                            <div class="footer-title">
                                <h3>Join Us</h3>
                            </div>
                            <div class="footer-content">
                                <ul class="footer-links">
                                    <li><a href="/careers/">Careers</a></li>
                                    <li><a href="/apply/">Apply Now</a></li>
                                    <li><a href="/training/">Training & Development</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- About Us -->
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="footer-column">
                            <div class="footer-title">
                                <h3>About Us</h3>
                            </div>
                            <div class="footer-content">
                                <ul class="footer-links">
                                    <li><a href="/about-us/">About Us</a></li>
                                    <li><a href="/contact-us/">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Social Media and Partners -->
                    <div class="col-md-2 col-sm-4">
                        <div class="footer-column">
                            <div class="footer-title">
                                <h3>Our Partners</h3>
                            </div>
                            <div class="footer-content">
                                <img src="https://via.placeholder.com/814x84" alt="Delivery Partners">
                            </div>
                            <div class="footer-title">
                                <h3>Follow Us</h3>
                            </div>
                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/mythosgreekdining" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/mythosgreekdining" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/mythosgreekdining" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="footer-policy">
                            <li><a href="/privacy-policy/" target="_blank">Privacy Policy</a></li>
                            <li><a href="/cookies/" target="_blank">Cookie Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>© 2024 Mythos Greek Dining.</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    

    <!-- Add JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
